<ion-content  class="content"><ion-icon name="chevron-back"  style="margin-top:0.5%;"></ion-icon>
  <div style="display: flex;flex-direction: row;justify-content: center;"> <div>Group Name</div></div>
  <ion-slides pager="true" [options]="slideOpts">
  
  <ion-slide>
    <app-group-name></app-group-name>
  </ion-slide>

  <ion-slide>
    <app-group-settings></app-group-settings>
  </ion-slide>

 
  <ion-slide>
    <app-group-name></app-group-name>
  </ion-slide>

  <ion-slide>
    <app-select-members></app-select-members>
  </ion-slide>
  
 <ion-slide>
    <app-select-members></app-select-members>
  </ion-slide>
</ion-slides>
</ion-content>