<ion-content class="login-content">
  <form > <div style="display: flex; flex-direction: row;text-align: center;align-items: center;margin-bottom: 0%;">
  <img 
    src="assets/icon/rectt.png" 
    alt="Login Image" 
    class="login-image"
    
    
  />
</div>
    <div class="logo" style="display: flex; align-items: center;flex-direction: row-reverse; margin-top:-1%;margin-bottom: 0%;">
      <img [src]="img" alt="Login Image" style="width: 50px; height: 50px; border-radius: 50%;margin-left: 0%;margin-top:-3%;">
      <div>
        <h1 style="margin-right: 0%;">{{ 'Registration' | translate }}</h1>
      </div>
    </div>
   <div  style="margin-top: 5%;">   <div class="input-box">
      <ion-icon name="person-outline" class="icon" slot="start"></ion-icon>
      <ion-input 
      [(ngModel)]="name"
        (keyup)="onKeyup_name($event)"
        name="name"
        placeholder="{{ 'NAME' | translate }}" 
        type="Text"
     
      ></ion-input>
      <ion-icon name="close-circle" slot="end" (click)="remove_name()" ></ion-icon>
   </div>
    <div class="input-box">
      <ion-icon name="mail-outline" class="icon" slot="start"></ion-icon>
      <ion-input  
      [(ngModel)]="email"
        (keyup)="onKeyup_email($event)"
        name="email"
        placeholder="{{ 'EMAIL' | translate }}" 
        type="email"
     
      ></ion-input>
      <ion-icon name="close-circle" slot="end"  (click)="remove_email()" ></ion-icon>
    </div>

<div class="input-box">
  <ion-select
    name="countryCode"
    [(ngModel)]="selectedCountryCode"
    interface="alert"
    [placeholder]="selectedCountryCode"
  >
    <ion-select-option *ngFor="let country of countries" [value]="country.dial_code">
      {{ country.name }} {{ country.dial_code }}
    </ion-select-option>
  </ion-select>
  <ion-input 
    type="tel"
      placeholder="{{ 'Phone' | translate }}" 
    (keyup)="onKeyup_phone($event)"
    name="phoneNumber"
    [(ngModel)]="phonenumber"
  ></ion-input>
  <ion-icon
  name="close-circle"
  slot="end"
  (click)="remove_phone()"
  style="margin-inline-start: 0%;margin-inline-end: 0% ;"
></ion-icon>
</div>

    <div class="input-box">
      <ion-icon name="lock-closed-outline"  class="icon" slot="start"></ion-icon>
      <ion-input 
     (keyup)="onInputChange($event)"
        name="password"
          [(ngModel)]="password"
      [type]="password_type" 
        placeholder="{{ 'PASSWORD' | translate }}"
      
      ></ion-input>
      <ion-icon 
        [name]="password_bool ? 'eye-off-outline' : 'eye-outline'" 
        slot="end" 
        (click)="eye()">
      </ion-icon>
    </div>
       <div
        style="margin-top: 2%; text-align: center; margin-left: 4%; margin-right: 4%; align-items: center; justify-content: center; width: 90%;"
      >
        <div class="rectangle-container">
          <div
            class="rectangle"
            *ngFor="let rect of list; let i = index"
            [style.backgroundColor]="color(i)"
          ></div>
        </div>
 <div [style.color]="password_color" style="height:0.9vh;font-size:2vw;margin-top: 0%;margin-bottom: 3%">{{Text}}</div>
      </div><div class="input-box">
      <ion-icon name="lock-closed-outline" class="icon"  slot="start"></ion-icon>
      <ion-input  
       [type]="repassword_type" 
          (keyup)="onKeyup_repassword($event)"
        name="repassword"
    
        placeholder="{{ 'PASSWORD' | translate }}"
         [(ngModel)]="repassword"
      
      ></ion-input>
      <ion-icon 
        [name]="repassword_bool ? 'eye-off-outline' : 'eye-outline'" 
        slot="end" 
        (click)="eye_repassword()">
      </ion-icon>
    </div>
    <div style="height:0.7vh;"> <div [ngStyle]="color_password()">{{text_password}}</div></div>

 
   <ion-grid>
      <ion-row >
<ion-col size="6">
 

  
<ion-label position="floating" style="margin-inline-start: 21%;font-weight: 200;">{{ 'Date_Of_Birth' | translate }}</ion-label>
<ion-datetime-button datetime="datetime"></ion-datetime-button>

<ion-modal [keepContentsMounted]="true" [(isOpen)]="isModalOpen">
  <ng-template>
    <ion-datetime
      id="datetime"
      presentation="date"
      [(ngModel)]="dateOfBirth"
      (ionChange)="onDateChange($event)"
      show-default-buttons="true"
    ></ion-datetime>
  </ng-template>
</ion-modal>


</ion-col>

        <ion-col size="6" class="gender-segment">
    <ion-segment value="male" [(ngModel)]="selectedGender" name="selectedGender" >
  <ion-segment-button value="male" (click)="setGender('MALE')">
   {{ 'Male' | translate }}
  </ion-segment-button>
  <ion-segment-button value="famale" (click)="setGender('FEMALE')"> 
   {{ 'Female' | translate }}
  </ion-segment-button>
 
</ion-segment>

        </ion-col>
      </ion-row>
    </ion-grid>




     <button (click)="signup()" [disabled]="disabled"
  [class]="validation()"
  type="submit"
 
 >
  {{ 'SIGN_UP' | translate }}
</button>
<div *ngIf="isLoading" style="text-align: center;">
  <img src="assets/icon/hold-on.gif" alt="Login Image"
       style="width: 65px; height: 65px; border-radius: 10%;">
       <br/><br/>
</div>
    <!-- رابط التسجيل -->
    <p class="signup-text">
      {{ 'you_have_account' | translate }}
      <a (click)="login()">{{ 'LOGIN' | translate }}</a>
    </p></div>
    <img 
  src="assets/icon/Group89.png" 
  alt="Login Image" 
  class="login-image2"
 [style]="style_image2()"
/>
  </form>
</ion-content>
<ng-template #Q>
 <div class="gender-birth-container"><div class="gender-button1" [ngStyle]="{'background-color':'#D3D3D3'}" 
     (click)="setGender('female')"
      >
   
           <img src="assets/icon/woman2.png" alt="Login Image" class="logo-m">
  
</div>
<div class="gender-button" [ngStyle]="{'background-color':'#f6b26b'}"  
     
     >
           <img src="assets/icon/man.png" alt="Login Image" class="logo-f" ></div></div>

     
</ng-template>
