 <div class="slide-content">
      <img style="width:20vw;height:20vw;margin-top: 5%;" src="assets/icon/groups.png"/>
      <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;margin-top: 10%;margin-bottom: 4%;"> <img style="width:6vw;height:6vw;margin-top: 5%;margin-inline-end: 25%;" src="assets/icon/privacy.png"/> <div>Private</div><img style="width:5vw;height:5vw;margin-top: 5%;margin-inline-start: 25%;" src="assets/icon/check.png"/></div>
      <div style="display: flex;flex-direction: row; justify-content: center;"><div class="thin-line"></div></div>
      <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;margin-top: 5%;"> <img style="width:5vw;height:5vw;margin-top: 5%;margin-inline-end: 25%;" src="assets/icon/earch.png"/> <div>Private</div><img style="width:5vw;height:5vw;margin-top: 5%;margin-inline-start: 25%;" src="assets/icon/check.png"/></div>
<button 
  class="button"
  type="submit"
>

 Create New Group +
</button> 
      </div>