 <div class="slide-content">
        <h2>hhhh</h2>
      <img style="width:40vw;height:40vw;margin-top: 5%;" src="assets/icon/groups.png"/>
      <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;"> <img style="width:10vw;height:10vw;margin-top: 5%;" src="assets/icon/groups.png"/> <div>ffffff</div><img style="width:10vw;height:10vw;margin-top: 5%;" src="assets/icon/groups.png"/></div><div style="display: flex;flex-direction: row; justify-content: center;"><div class="thin-line"></div></div>
    <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;"> <img style="width:10vw;height:10vw;margin-top: 5%;" src="assets/icon/groups.png"/> <div>ffffff</div><img style="width:10vw;height:10vw;margin-top: 5%;" src="assets/icon/groups.png"/></div>
<button 
  class="button"
  type="submit"
  
>
 Create New Group +
</button> 
      </div>