<div class="slide-content">

  <img style="width:18vw;height:9vh;margin-top: 5%;margin-bottom: 9%;" src="assets/icon/groups.png"/>

  <ion-radio-group [(ngModel)]="groupType">

    <!-- Private -->
    <div
      class="radio-row"
      [class.active]="groupType === 'private'"
      (click)="groupType = 'private'">

      <img src="assets/icon/privacy.png" class="left-icon" />

      <div class="label">
        Private
      </div>

      <div class="mark"></div>
      <ion-radio value="private"></ion-radio>
    </div>

    <div class="separator">
      <div class="thin-line"></div>
    </div>

    <!-- Public -->
    <div
      class="radio-row"
      [class.active]="groupType === 'public'"
      (click)="groupType = 'public'">

      <img src="assets/icon/earch.png" class="left-icon" />

      <div class="label">
        Public
      </div>

      <div class="mark"></div>
      <ion-radio value="public"></ion-radio>
    </div>

  </ion-radio-group>

  <button class="button" type="submit">
    Create New Group +
  </button>

</div>

