<div style="display: flex; flex-direction: column; width: 100vw; height: 100vh;">

  <!-- جزء السلايدر -->
<ion-content style="height: 70vh; display: flex; justify-content: center; align-items: center;">   <div style="display: flex; flex-direction: row;text-align: center;align-items: center;height: 12vw;width:100vw ;">
  <img 
    src="assets/icon/Group333.png" 
    alt="Login Image" 
   
    
    style="display: block; width: 50%;margin-inline-end: 65%;margin-top: 9%;"
  />
</div>
  <div class="header">
    <p class="title">{{ 'settings' | translate }}</p>
    <img src="assets/icon/settings.png" class="icon" />
  </div>

 <div class="card"><p class="card-text">هذا نص داخل الديف مع الصورة.</p>
  <img src="assets/image.jpg" alt="صورة" class="card-img">
  
</div>

</ion-content>

<img src="assets/icon/Group-89.png" 
  alt="Login Image" 
  class="login-image"
     [style]="style_image3()"
>





  <img 
  src="assets/icon/Group33.png" 
  alt="Login Image" 
  class="login-image2"
 [style]="style_image2()"
/>

</div>
