<div style="display: flex; flex-direction: column; width: 100vw; height: 100vh;">

  <!-- جزء السلايدر -->
<ion-content style="height: 70vh; display: flex; justify-content: center; align-items: center; --background: url('assets/icon/imagee.jpeg') no-repeat center center / cover;">   <div style="display: flex; flex-direction: row;text-align: center;align-items: center;height: 12vw;width:100vw ;">
  <img 
    src="assets/icon/Group333.png" 
    alt="Login Image" 
   
    
    style="display: block; width: 50%;margin-inline-end: 65%;margin-top: 9%;"
  />
</div><ion-icon   name="arrow-back-outline" (click)="goBack()" ></ion-icon>
  <div class="header">
    <p class="title">{{ 'Supplications' | translate }}</p>
    <img src="assets/icon/prayer.png" class="icon" />
  </div>
<div style="
  display: flex;
  flex-direction: column;
  align-items: center;
margin-top: 10%;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
">
  <div *ngFor="let card of list_type()" class="card">
    <p class="card-text">{{ card.text }}</p>
    <img [src]="card.image" alt="صورة" class="card-img">
  </div>
</div>

 

</ion-content>

<img src="assets/icon/Group-89.png" 
  alt="Login Image" 
  class="login-image"
     [style]="style_image3()"
>





  <img 
  src="assets/icon/Group33.png" 
  alt="Login Image" 
  class="login-image2"
 [style]="style_image2()"
/>

</div>
