.button {
  border-radius: 25px;
  background: linear-gradient(to right, #ccc, #aaa); // لون رمادي عند invalid
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 1px 2px #000;
  padding: 3% 5%;
  margin-top: 15%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 0.6;
  cursor: not-allowed;
  transition: all 0.3s ease;
}.content {
 --overflow: hidden;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center; 
 height: 100vh;
 
}.yellow-circle {justify-content: center;align-items: center;text-align: center;display: flex;flex-direction: row;color: #fff;font-size: 7vw;
  width: 8vw;
  height: 8vw;
  background-color: #FFD700; /* أصفر */
  border-radius: 50%; /* دائرة */
  box-shadow: 0 6px 15px rgba(0,0,0,0.50); /* ظل */
}
.thin-line {margin-top: 5%;margin-bottom: 3%;
  width:90vw;           /* طول الخط */
  height:0.3vh;        /* سماكة رفيعة */
  background-color: #DDDADA;
  border-radius: 50px;  
}.circle-img {
  width: 12vw;
  height: 12vw;           /* خليها متساوية للحصول على دائرة حقيقية */
  cursor: pointer;
  user-select: none;
  margin-inline-start: 3%;
  border-radius: 50%;     /* هذا يحوّل الصورة لدائرة */
  object-fit: cover;      /* لتعبئة الدائرة بدون تشويه الصورة */
}