<ion-content>
  <div style="display: flex;flex-direction: row;text-align: center;align-items:center ;justify-content: center;">
    <p>setting </p>
  <img src="assets/icon/beads.png" style="height:20vw ;width: 20vw;"/>
  </div>
  <div style="background-color: gray;">
    <div style="display: flex;flex-direction: row;text-align: center;align-items:center ;justify-content: center;">
      <img src="assets/icon/beads.png" style="height:20vw ;width: 20vw;"/><p>language</p> <ion-item>

  <ion-select [(ngModel)]="selectedCity">
    <ion-select-option value="amman">عمّان</ion-select-option>
    <ion-select-option value="irbid">إربد</ion-select-option>
  
  </ion-select>
</ion-item>

       </div>
         <div style="display: flex;flex-direction: row;text-align: center;align-items:center ;justify-content: center;">
      <img src="assets/icon/beads.png" style="height:20vw ;width: 20vw;"/><p>language</p> <ion-item>

  <ion-select [(ngModel)]="selectedCity">
    <ion-select-option value="amman">عمّان</ion-select-option>
    <ion-select-option value="irbid">إربد</ion-select-option>
  
  </ion-select>
</ion-item>

       </div>
  </div>
   </ion-content>
