<ion-content class="settings-page">
  
  <ion-icon (click)="goBack()" name="arrow-back-outline" style="margin-inline-start: 5%;margin-top:10% ;margin-bottom: 0%;"></ion-icon>
  <div class="header">
    <p class="title">{{ 'settings' | translate }}</p>
    <img src="assets/icon/settings.png" class="icon" />
  </div>

  <div class="content-center">
    <ion-list class="settings-list">
      <ion-item lines="none">
        <img src="assets/icon/earth.png" style="width: 10%;margin-inline-end: 5%;" />
        <ion-label>{{ 'language' | translate }}</ion-label>
        <ion-select [(ngModel)]="selectedCity" (ionChange)="onCityChange($event)">
          <ion-select-option *ngFor="let item of lang" [value]="item.code">
            {{ item.lang }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <img src="assets/icon/notification.png" style="width: 10%;margin-inline-end: 5%;" />
        <ion-label (click)="route(0)">{{ 'notificationPreferences' | translate }}</ion-label>
        <ion-icon name="aperture-outline" [ngClass]="{'flip-horizontal': selectedCity === 'ar'}"></ion-icon>
      </ion-item>

     
      <ion-item lines="none">
        <img  src="assets/icon/delete.png" style="width: 10%;margin-inline-end: 5%;" />
        <ion-label (click)="route(1)">{{ 'deleteAccount' | translate }}</ion-label>
        <ion-icon name="aperture-outline" [ngClass]="{'flip-horizontal': selectedCity === 'ar'}"></ion-icon>
      </ion-item>
      <ion-item lines="none" (click)="logout()">
        <img slot="start" src="assets/icon/logout.gif" style="width: 10%;margin-inline-end: 5%;" />
        <ion-label color="danger">{{ 'logout' | translate }}</ion-label>
        <ion-icon name="aperture-outline" [ngClass]="{'flip-horizontal': selectedCity === 'ar'}"></ion-icon>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
