<ion-content>
  <div style="display: flex;flex-direction: row;text-align: center;align-items:center ;justify-content: center;">
    <p>setting </p>
  <img src="assets/icon/beads.png" style="height:20vw ;width: 20vw;"/>
  </div>
  <div style="background-color: gray;">
    <div style="display: flex;flex-direction: row;text-align: center;align-items:center ;justify-content: center;">
      <img src="assets/icon/earth.png" style="height:20vw ;width: 20vw;"/><p>language</p> 

  <ion-select [(ngModel)]="selectedCity">
    <ion-select-option value="amman">عمّان</ion-select-option>
    <ion-select-option value="irbid">إربد</ion-select-option>
  
  </ion-select>


       </div>
         <div style="display: flex;flex-direction: row;text-align: center;align-items:center ;justify-content: center;">
      <img src="assets/icon/notification.png" style="height:20vw ;width: 20vw;"/><p>Notification Preferences</p> 
<ion-icon name="chevron-forward-outline"></ion-icon>


       </div>
         <div style="display: flex;flex-direction: row;text-align: center;align-items:center ;justify-content: center;">
      <img src="assets/icon/darkmod.png" style="height:20vw ;width: 20vw;"/><p>Dark mode</p> 

  
<ion-toggle 
  (ionChange)="toggleChanged($event)" 
  style="--track-width:5%; --track-height: 10%; --handle-width:40%; --handle-height: 70%;">
</ion-toggle>




       </div>
           <div style="display: flex;flex-direction: row;text-align: center;align-items:center ;justify-content: center;">
      <img src="assets/icon/logout.gif" style="height:20vw ;width: 20vw;"/><p>Logout</p> 
<ion-icon name="chevron-forward-outline"></ion-icon>


       </div>
           <div style="display: flex;flex-direction: row;text-align: center;align-items:center ;justify-content: center;">
      <img src="assets/icon/delete.png" style="height:20vw ;width: 20vw;"/><p>Delete Account</p> 
<ion-icon name="chevron-forward-outline"></ion-icon>


       </div>
  </div>
   </ion-content>
