<ion-menu contentId="main-content">
  <ion-content class="ion-padding" style="--background: #8F8FA73B;" >
   
  <div ><div class="profile-image-container " > <div style="flex:3;"></div> <img src="assets/icon/moslem-woman.png" alt="Splash Logo" class="profile-image">
 <!--<button (click)="logout()">oooo</button>-->
  <div style="flex: 3;"></div>
    </div>  <ion-item lines="none" style="margin-top: 10%;  --background:color= none">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label class="custom-label">Profile</ion-label>
           <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
        </ion-item>
        <ion-item lines="none" style="margin-top: 10%;  --background:color= none "(click)="nav(1)">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label class="custom-label" >Password and Security</ion-label>
           <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
        </ion-item > 
        <ion-item lines="none" style="margin-top: 10%;  --background:color= none" (click)="nav(1)">
          <ion-icon name="id-card-outline" slot="start" size="small"></ion-icon>
          <ion-label class="custom-label" >Profile Details</ion-label>
           <ion-icon name="chevron-forward-outline" slot="end" size="small"></ion-icon>
        </ion-item>  
         <ion-item  lines="none" style="margin-top: 10%;  --background:color= none" (click)="nav(3)">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label class="custom-label" >Setting</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" size="small" ></ion-icon>
        </ion-item></div>
      
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content" >

  <ion-content >
    <div style="display: flex;height:7%;margin-top: 2%;
  flex-direction: row;width: 100vw"><ion-menu-toggle>
            <img src="assets/icon/aplication.png" alt="Login Image" style="width:8vw; height:3vh;margin-inline-start: 50%;">
    </ion-menu-toggle> <div class="header-row"><img src="assets/icon/calendar.png" alt="Login Image" style="width:4vw; height:3vh;margin-inline-end:15%;"> <img src="assets/icon/notification.png" alt="Login Image" style="width:4vw; height:3vh;margin-inline-end: 30%;"></div> 


</div>
<div style="display: flex;align-items: center;text-align: center;justify-content: center;padding-right:2%;padding-left:  2%;">
  <div style="width: 90%;height: 22%;background-color: #9D9D9D3D;border-radius: 30px;">
<div  class="monotone-noise">
  
 <div style="display: flex;flex-direction: column;">

  </div>
   <div style="display: flex;flex-direction: column;height:10vh;flex:4 ;align-items: center;margin-top: 2%;">
<p style="height: 10px;font-size: 1.5vh;margin-bottom: 2% ;">Fajr - Amman</p>
<p style="height: 10px;font-weight: 500 ;font-size: 3vh;margin-top: 5%">1 h 24 min</p>
  </div>
     <div style="display: flex;flex-direction: column;height:10vh;flex: 2;align-items: center;justify-content: end;">
<p style="height: 10px;font-size: 1vh;margin-bottom: 0%;">2:252 AM</p>
<p style="height: 10px;font-size: 1vh;margin-bottom: 0%;">29 Dhul-Qadah1446 </p>
<p style="height: 10px;font-size:1vh;">29 Dhul-Qadah1446 </p>
  </div>
     <div style="display: flex;flex-direction: column;height:10vh;flex: 1;align-items: center;margin-top: 5%;">
<div style="margin-top: 35%;"><img src="assets/icon/speaker.png" alt="Login Image" style="width:3vw; height:3vh;"> <img src="assets/icon/menuu.png" alt="Login Image" style="width:3vw; height:3vh;"></div> 
  </div>
</div>
<div style="display: flex; flex-direction: row; width: 100%; gap: 2%;">
  <div *ngFor="let item of list_time" style="flex: 1; display: flex; flex-direction: column; align-items: center; text-align: center;">
    
    <p style="font-size: 3vw; margin-bottom: 5%;">{{ item.name }}</p>
    
    <img [src]="item.image" alt="{{ item.name }}" style="width: 6vw; height: 3vh; margin-bottom: 5%;">
    
    <p style="font-size: 3vw; margin-top: 0%;">{{ item.time }}</p>
  </div>
</div>


</div></div>

   
 <div style="width: 100%; display: flex;flex-direction: row;margin-top: 5%;padding-left: 4%;padding-right: 4%;" >
  <div style="margin-top: 2%; height:0.5vh;width: 1vh;flex: 1;background-color: #D9D9D9;border-radius: 10px;">

  </div><div style="width: 100px;flex: 1;text-align: center;margin-top: 0%;margin-bottom: 0%;" > <p style="margin-top: 0%;margin-bottom: 0%;">Quick Access</p></div>
  <div style="margin-top: 2%;  height: 0.5vh;width: 100px;flex: 1;background-color: #D9D9D9;border-radius: 10px;"></div>

</div>

 <!-- حاوية التمرير الأفقي -->
<div style="display: flex; overflow-x: auto; white-space: nowrap; width: 100%; margin-top: 5%;">
  
  <!-- العنصر المتكرر -->
  <div *ngFor="let item of list_card"
       style="flex: 0 0 auto; width: 70vw; height: 12vh; background: linear-gradient(to right, #ceb36bb2, #ab896f); border-radius:8vw; margin-inline-end:0.7vw; display: flex; flex-direction: column; align-items: center; text-align: center;margin-inline-start: 0.7%;">
    
    <!-- المحتوى الداخلي -->
    <div style="display: flex; flex-direction: row; width: 100%; padding: 2vw;">
      
      <!-- النصوص -->
      <div style="flex: 3; display: flex; flex-direction: column; justify-content: center;  text-align: start; padding-inline-start:2vw;">
        <p style="font-size: 4vw; margin-top: 0.5%;">{{item.name}}</p>

        <div style="display: flex; align-items: center;flex-direction: row;">
          <p style="font-size: 2vw; margin: 0;">{{item.title}}</p> <p style="font-size: 3vw; margin: 0;font-size: 2vw;">{{item.number}}</p>

        </div>

        <div style="height: 0.5vh; width: 93%; background-color: #D9D9D9; border-radius: 10px; margin-top: 5%;"></div>
      </div>

      <!-- الصورة -->
      <div style="flex: 1; display: flex;flex-direction: row;  justify-content: center; align-items: center;">
                 <p style="font-size: 2.6vw; margin-inline-end: 25%;margin-top: 50%; color: white;">{{item.per}}</p> <img [src]="item.image" alt="Login Image" style="height: 10vh;margin-inline-end: 45%;">
      </div>

    </div>

  </div>

</div>
 <div style="width: 100%; display: flex;flex-direction: row;margin-top: 5%;padding-left: 4%;padding-right: 4%;" >
  <div style="margin-top: 2%; height:0.5vh;width: 1vh;flex: 1;background-color: #D9D9D9;border-radius: 10px;">

  </div>


</div>
 

  <!-- الحاوية التي تستخدم Grid -->
<div style="
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  width: 100%;
  margin-top: 5%;
  padding: 0 4vw;
">
  <!-- العنصر المتكرر -->
  <div *ngFor="let item of list_type"
       style="background-color: #D9D9D9; height: 10vh; width: 100%; display: flex; align-items: center; flex-direction: row; border-radius: 4vw;">
    
    <!-- النص -->
    <div style="display: flex; align-items: center; flex: 2; justify-content: flex-start; margin: 0%;">
      <p style="font-size: 3vw; margin-inline-start:25% ;">{{item.name}}</p>
    </div>

    <!-- الصورة -->
    <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
      <img [src]="item.image" style="height: 7vh; margin-inline-end: 35%;">
    </div>

  </div>
</div>



  </ion-content>
</div>