.profile-image-container {
  display: flex;
  flex-direction: row;
  width: 100%;
 
         /* أو تحدد ارتفاعًا ثابتًا حسب الحاجة */
}



/* تغيير لون النصوص داخل القائمة */
ion-menu.red-menu.menu-open ion-label {
  color: rgb(169, 20, 20);
}

/* تغيير لون الأيقونات داخل القائمة */
ion-menu.red-menu.menu-open ion-icon {
  color: white;
}
.header{display: flex;flex-direction: row;}
/* لو أردت أيضاً تلوين خلفية العناصر بشكل شفاف أو مختلف */
ion-menu.red-menu.menu-open ion-item {
  --background: transparent;
  --color: rgb(203, 71, 71);
}
.header-row{display: flex;flex-direction: row;margin-inline-start: 50%;width:50% ;padding-inline-start: 30%; }
.profile-image {
  width: 30%;
  height: 30%;
  flex: 3;
  border-radius: 50%; /* يجعل الصورة دائرية */
  border: 3px solid #2c2828; /* حد أسود حول الصورة */
  background-color: #fff; /* خلفية للصورة في حال كانت شفافة */
}
.monotone-noise {
  background-color: #333;
  background-image: 
    radial-gradient(rgba(255,255,255,0.03) 1px, transparent 0),
    radial-gradient(rgba(255,255,255,0.02) 1px, transparent 0);
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
}
.monotone-noise {
  width: 100%;
  height: 45%;
  border-radius: 30px;
  display: flex;
  flex-direction: row;

  background: radial-gradient(
    circle at center,
    #FCD25DA8 0%,     /* الذهبي الشفاف في المركز */
    #e4c9a0 50%,      /* بني فاتح جدًا - مساحة واسعة */
    #c19a6b 75%,      /* بني فاتح متوسط */
    #8b5e3c 90%,      /* بني متوسط غني */
    #5c4033 100%      /* بني داكن */
  );

  box-shadow: 0 4px 12px rgba(92, 64, 51, 0.3);
}
ion-menu::part(backdrop) {
  background-color: rgba(2, 2, 2, 0.5);
}
.custom-label {
  font-size: 3.8vw; /* الحجم المطلوب */
}
ion-menu::part(container) {
  border-radius: 20px 0  0 20px ;
  --background: rgb(226, 224, 224);
  box-shadow: 4px 0px 16px rgba(142, 144, 150, 0.18);
}




