.chats-content {
 --overflow: hidden;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center; 
  min-height: 100vh;
  width:100vw ;
}.rounded-rect{
  width: 50vw;         /* عرض نسبي ليتناسب مع الشاشات */
  max-width: 420px;    /* أقصى عرض */
  height: 3vh;        /* ارتفاع نسبي */
  box-sizing: border-box;
  background: #ffffff;
  border: 2px solid #222;   /* لون سمك الحد */
  border-radius: 12px;      /* درجة الدوران */
  display: flex;
  align-items: center;
  font-size: 1rem;
}.circleg {display: flex;flex-direction: column; margin-inline-start: 3%;font-size: 2.3vw;justify-content: center;text-align: center;width:30% ;color: #ffffff;margin-top: 4%;
  width: 4vw;
  height: 3.3vw;
  border-radius: 35%;
  background: #D9D9D9;
}
.circley {display: flex;flex-direction: column; margin-inline-start: 3%;font-size: 2.3vw;justify-content: center;text-align: center;width:30% ;color: #ffffff;margin-top: 4%;
  width: 4vw;
  height: 3.3vw;
  border-radius: 35%;
  background: #cb8e01;
}
.circle {display: flex;flex-direction: column; margin-inline-start: 3%;font-size: 2.3vw;justify-content: center;text-align: center;width:30% ;color: #ffffff;margin-top: 4%;
  width: 4vw;
  height:4vw;
  border-radius: 50%;
  background: #E8B323;
  margin-inline-start: 25%;margin-top: -10%;
}
.search-box {
  width: 65vw;
  height: 7vw;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-inline: 2vw;
  background: #D9D9D9;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
}

.search-box .icon {
  width: 4.5vw;
  margin-inline-end: 2vw;
}

.search-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 3vw;
  background: #D9D9D9;
}
.circle-img {
  width: 12vw;
  height: 12vw;           /* خليها متساوية للحصول على دائرة حقيقية */
  cursor: pointer;
  user-select: none;
  margin-inline-start: 3%;
  border-radius: 50%;     /* هذا يحوّل الصورة لدائرة */
  object-fit: cover;      /* لتعبئة الدائرة بدون تشويه الصورة */
}