<ion-content  class="chats-content" [scrollY]="true" 
> <div class="bg"></div>
<div style="display: flex;flex-direction: row;margin-top: 10%;margin-inline-start: 5%;justify-content: start;">
 <ion-icon name="chevron-back" (click)="goBack()"  style="margin-top:0.5%;"></ion-icon>
<div style="margin-inline-start: 3%;font-size: 5vw;">Chats</div>

</div><div style="display: flex; flex-direction: row; justify-content: center;margin-top: 4%;">
  
  <div class="search-box"routerLink="/chat-search">
    <img src="assets/icon/loupe.png" class="icon" />
    <input type="text" placeholder="Search here..." class="search-input"/>
  </div>

  <img
    src="assets/icon/sort.png"
    style="
      width: 6vw;height: 3vw;
      cursor: pointer;
      user-select: none;
      margin-inline-start: 3%;margin-top: 2%;
    "
  />
</div>
<div style="display: flex; flex-direction: row;justify-content: space-between;margin-left: 15%;margin-right: 15%;margin-top: 9%;">
 
  <div *ngFor="let item of list" style="margin-inline-end: 10px;">
     <div style="display: flex;flex-direction: column;justify-content: center;">
      
      <div *ngIf="item=='All'; else elsee" style="text-align: center;display: flex;flex-direction: row;justify-content: center;" (click)="name(item)">
        <div style="font-size: 4vw;">{{ item }}</div>
       <div *ngIf="unread_Count > 0" [ngClass]="cir(item)">
  <div style="font-size: 2.5vw;">
    {{ unread_Count }}
  </div>
</div>
      </div>
      <img
    [src]="image(item)"
    [style]="
     styleIcon(item)
    "
  />
     </div> 
     <ng-template #elsee>
 <div style="text-align: center;font-size: 4vw;" (click)="name(item)">{{ item }}</div>
</ng-template>
  </div>
</div>
<div style="display: flex;flex-direction: column;margin-top: 5%;">
    <div *ngFor="let item of list_item" style="margin-inline-end: 10px;margin-top: 7%;">
      <div style="display: flex;flex-direction: row;">
  <img
  src="assets/icon/user1.jpg" 
  class="circle-img"
/><div style="display: flex;flex-direction: column;width: 90%;margin-top: 1%;"> <div style="margin-inline-start: 3vw;font-size:3.5vw;">{{item.otherUserName}}</div> <div style="margin-inline-start: 3vw;font-size: 2.7vw;">{{item.lastMessage}}</div></div><div style="display: flex;flex-direction: column; text-align: start;font-size: 2.7vw;width: 20vw;justify-content: center;"> <p style="font-size: 2.5vw;">Just Now</p>  <div class="circle"><div style="font-size: 2.5vw;">4</div></div></div>

      </div>
    </div>
</div>
</ion-content>
