@import 'swiper/swiper-bundle.css';

:host-context([dir="rtl"]) .login-image {
  transform: rotateY(180deg);
}[dir="rtl"] .login-image {
  transform: rotateY(180deg);
}:host-context([dir="rtl"]) .login-image2 {
  transform: rotateY(180deg);
}[dir="rtl"] .login-image2 {
  transform: rotateY(180deg);
}
:host-context([dir="ltr"]) .login-image1 {
  transform: rotateY(180deg);
}[dir="ltr"] .login-image {
  transform: rotateY(180deg);
}
.half-circle-left {position: relative;
width:20vw; height:46vw;
  background: linear-gradient(
  to right, 
  hsla(39, 100%, 63%, 1), 
  hsla(31, 99%, 29%, 1)
);;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
}

swiper-slide {height: 70%;
  
  color: rgb(160, 152, 152);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 8px;height: 100px;
}
.slide-box {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: rgb(114, 108, 108);

}.page-bg {
  position: fixed;

  width: 100vw;
 height: 200vw;
 ;background:
  repeating-linear-gradient(
    60deg,
    rgba(252, 250, 250, 0.05) 0,
    rgba(248, 247, 247, 0.05) 2px,
    transparent 2px,
    transparent 40px
  ),
  repeating-linear-gradient(
    -60deg,
    rgba(255,255,255,0.05) 0,
    rgba(252, 253, 253, 0.05) 2px,
    transparent 2px,
    transparent 40px
  ),
  linear-gradient(	#cac9c9 20%, #ffffff 100%);

 
  /* التدرّج الأساسي */
  



z-index: -1;
  //background-image: url('../../../../assets/icon/imagee.jpeg');background-size: cover;
  
}
  .circle {
      width: 13vw;
      height: 13vw;
      margin-top: 7%;
      background-color: hsla(0, 0%, 85%, 1);
      border-radius: 50%;
     
    }