<ion-content
  style="
    --background: url('assets/icon/imagee.jpeg') no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
  "
>
  <!-- جزء السلايدر -->
   <div style="display: flex; flex-direction: row;text-align: center;align-items: center;height: 12vw;width:100vw ;"> 
  <img 
    src="assets/icon/Group 88 (1).png" 
    alt="Login Image" 
    class="login-image2"
    
    style="display: block; width: 60%;margin-inline-end: 90%;margin-top: 14%;margin-bottom: 0%;"
  />
</div>
<ion-icon (click)="goBack()" name="close" style="margin-inline-start: 1%;margin-top:-2% ;margin-bottom: 0%;"></ion-icon>
  <h1 style=" align-items: center;text-align: center;justify-content: center;margin-bottom:8%;" [ngStyle]="title()">{{ 'Morning_Adhkar' | translate }}</h1>

  <ion-slides [options]="slideOpts" (ionSlideDidChange)="onSlideChange()" style="height: 85%; width: 100%;">
    <ion-slide *ngFor="let item of slid">
      <div style="display: flex; flex-direction: column; width: 100vw;"> 
        <div class="slide-box">{{ item }}</div>
      </div>
    </ion-slide>
  </ion-slides>

  <div style="text-align: center; display: flex; justify-content: center; margin-top: -15%;">
    <div *ngFor="let item of list; let i = index" style="width: 10vw;">
      <div [ngStyle]="Color(i)"></div>
    </div>
  </div>

  <img 
    src="assets/icon/Group 88 (2).png" 
    alt="Login Image" 
    class="login-image2"
    [style]="style_image2()"
  />
</ion-content>