.slide-content {width:70vw;padding-top: 5%; border-top-left-radius: 12px;    
  border-top-right-radius: 12px;   
  border-bottom-left-radius: 12px; 
  border-bottom-right-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 50vh;
  background: #D9D9D9;box-shadow: 0 2px 8px rgba(0,0,0,0.12);


}
.slide-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.slide-content p {
  font-size: 16px;
  color: #555;
}
.thin-line {margin-top: 5%;margin-bottom: 3%;align-items: center;
  width:20vw;           /* طول الخط */
  height:0.3vh;        /* سماكة رفيعة */
  background-color: #941515;
  border-radius: 50px;  
}.rounded-input {
  display: flex;
  margin-top: 13%;
  align-items: center; 
  background-color: #ffffff;      /* لون خلفية المستطيل */
  border: 1px solid #ccc;         /* الحد الخارجي */
  width: calc(100% - 30px);       /* ليشغل العرض بالكامل مع المارجن */
  height: 4vh;                   /* ارتفاع محدد */
  width: 50vw;
  box-sizing: border-box;         /* يحسب البادينج ضمن العرض */
  font-size: 16px;                /* خط مناسب */
  
  /* الحواف المختلفة لكل زاوية */
  border-top-left-radius: 20px;    
  border-top-right-radius: 20px;   
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px;
  
  overflow: hidden;               /* مهم للـ border-radius مع عناصر داخلية */
}
.clear-icon {
  font-size: 22px;
  color: #999;
  cursor: pointer;
padding: 5%;
  /* محاذاة عمودية وسط input */
  
}.thin-line {margin-top: 5%;margin-bottom: 3%;align-items: center;
  width:40vw;           /* طول الخط */
  height:0.3vh;        /* سماكة رفيعة */
  background-color: #EBEBEB;
  border-radius: 50px;  
}/* Container */
.alert-gender-container {
  width: 90%;
  margin: 12px auto;
  padding: 10px 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;


  border-radius: 14px;
  
}

/* Title */
.alert-title {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 13px;
  font-weight: 500;
  color: #444;
}

.alert-title ion-icon {
  font-size: 18px;
  color: #1dc76c;
}

/* Segment */
.gender-segment {
  width: 40vw;
  height: 34px;

 
  --border-radius: 18px;
}

/* Segment Button */
ion-segment-button {
  min-height: 10px;
  font-size: 2.3vw;
  padding:0;
  font-weight: 500;
  text-transform: none;

  --indicator-color: #c7c41d;
  --indicator-height: 2px;
  --border-radius: 16px;

  transition: all 0.25s ease;
}

/* Android (Material) */
ion-segment-button.md {
  --color: #444;
  
}

/* iOS */
ion-segment-button.ios {margin-inline-start: 0%;
  font-size: 11px;
  --color: #101006;

}

/* Selected */
ion-segment-button.segment-button-checked {
  
  color: #8f8d8d;
}

/* Press effect */
ion-segment-button:active {
  transform: scale(0.96);
}

.button {
  border-radius: 25px;
  background: linear-gradient(to right, #F87F01B8, #D0D693);
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 1px 2px #000;
  padding: 3% 5%;
  margin-top: 15%;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  opacity: 0.6;
  cursor: not-allowed;
  transition: all 0.3s ease;

  /* الحدود البيضاء */
  border: 2px solid #fff;
}
