 <div class="slide-content">
        <h2>Customize notifications</h2>
            <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;margin-top: 10%;margin-bottom: 4%;">  `<div>Private</div><img style="width:5vw;height:5vw;margin-top: 5%;margin-inline-start: 25%;" src="assets/icon/check.png"/></div>
      <div style="display: flex;flex-direction: row; justify-content: center;"><div class="thin-line"></div></div>
      <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;margin-top: 5%;">  <div>Private</div><img style="width:5vw;height:5vw;margin-top: 5%;margin-inline-start: 25%;" src="assets/icon/check.png"/></div><div lines="none" class="rounded-input">
<ion-icon name="mail-outline" style="margin-inline-start: 5%;"></ion-icon>
  <ion-input
    placeholder="Group name"
    [(ngModel)]="text"
    clearInput="false">
  </ion-input>

  <ion-icon slot="end" 
    *ngIf="text"
    name="close-outline"
    slot="end"
    class="clear-icon"
    (click)="text = ''">
  </ion-icon>
</div>
<div class="alert-gender-container">
  <div class="alert-title">
    
    <div style="font-size: 2.7vw;">Alert sound</div>
  </div>

  <ion-segment value="male" class="gender-segment">
    <ion-segment-button value="male">
     Adhan
    </ion-segment-button>
    <ion-segment-button value="famale">
     Nature sounds
    </ion-segment-button>
  </ion-segment>
</div>

<button 
  class="button"
  type="submit">
 Create New Group +
</button> 
      </div>