<ion-content class="login-content" style=" --background: url('assets/icon/imagee.jpeg') no-repeat center center / cover;" >
<div style="display: flex;
            height: 7%;
            margin-top: 5%;
            border-bottom: 2px solid black;
            flex-direction: row;
            width: 100vw;
            align-items: center;
            box-sizing: border-box;
           
            padding: 0 2vw;">

  <!-- يسار -->

  <ion-icon   name="close" (click)="goBack()" ></ion-icon>
    <img src="assets/icon/notification.png"
         alt="Notification"
         style="width: 7vw; height: 3vh;margin-inline-start: 25%;">
 

  <!-- النص في المنتصف -->
  <div style="flex: 1; text-align: center; font-weight: bold;margin-inline-start: 5%">
     {{ 'notifications' | translate }}
  </div>

  <!-- يمين -->
  <img src="assets/icon/trach.png"
       alt="Trash"
       style="width: 5.5w; height: 3vh;margin-inline-start:20%;margin-inline-end: 10%;">
</div>



<div style="width: 100vw;margin-top: 15%;">
  <div style="margin-bottom: 2%;margin-top: 2%; margin-left: 5%;margin-right: 5%; height:7vh;background-color: #fdf6e2;border-radius: 15px;" *ngFor="let user of user;"></div>
</div>

</ion-content>
