 <ion-content [keyboardResize]="'none'" class="otp-container" scroll-y="true" > <div >  <div style="display: flex; flex-direction: row;text-align: center;align-items: center;height: 12vw;width:100vw ;"> 
  <img 
    src="assets/icon/Group 88 (1).png" 
    alt="Login Image" 
  

    [style]="style_image()"
  />
</div> <ion-icon (click)="goBack()" name="close" style="margin-inline-start: 4%;margin-top:-6% ;margin-bottom: 0%;"></ion-icon><div > 

<h1 style=" align-items: center;text-align: center;justify-content: center;margin-bottom:8%;" [ngStyle]="title()">{{ 'QURAN' | translate }}</h1>
<ion-card
  style="
    margin-left: 12vw;
    margin-right: 12vw;
    background-color: #f5da8c;
    border-radius: 25px;
    padding: 3% 5%;
    height: 40vw;
  "
>
  <div style="display: flex; flex-direction: row;">
    <!-- القسم الأيسر -->
    <div style="display: flex; flex-direction: column; ">
      <!-- العنوان -->
      <div
        style="
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 5%;
        "
      >
        <img
          src="assets/icon/book.png"
          style="height: 4vw; width: 4vw; margin-inline-end: 1vw;"
        />
        <div style="color: #686868; font-size: 3vw; font-weight: 100;">
          {{ 'LAST_READ' | translate }}
        </div>
      </div>

      <!-- اسم السورة -->
      <div style="font-size: 3.3vw; margin: 3% 0;">
        {{ 'SURAH' | translate }}
      </div>

      <div
        style="margin: 4% 0 10%; font-weight: bold; font-size: 5vw;"
      >
        {{ 'AL_FATIHAH' | translate }}
      </div>

      <!-- زر العودة للقراءة -->
      <ion-button
        expand="block"
        style="
          --background: #E2E2E2B2;
          --color: black;
         --border-radius: 25px;
          height: 8vw;

        "
      >
        <div
          style="  border-radius: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
              font-size: 3vw; 
          "
        >
          <span>{{ 'BACK_TO_READING' | translate }}</span>
          <ion-icon name="arrow-forward"></ion-icon>
        </div>
      </ion-button>
    </div>

    <!-- القسم الأيمن (الصورة) -->
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
      
        text-align: center;
      "
    >
      <img
        src="assets/icon/book1.png"
        style="height: 30vw; width: 30vw;"
      />
    </div>
  </div>
</ion-card>
<div style="display: flex; flex-direction:row;justify-content: center;">
<div
  style="margin: 5%;"
  *ngFor="let item of list(); let i = index"
  (click)="click(i)"
  [style]="style(i)">
  {{ item }}
</div>
</div>
<div style="width: 100vw;">
 <app-surah *ngIf="show==='surah'"></app-surah>
  <app-page *ngIf="show==='page'"></app-page>
  <app-part *ngIf="show==='part'"></app-part>
 <app-surah *ngIf="show==='سوره'"></app-surah>
  <app-page *ngIf="show==='صفحه'"></app-page>
  <app-part *ngIf="show==='جزء'"></app-part>
</div></div> 
   <img 
  src="assets/icon/Group90.png" 
   class="login-image"
  alt="Login Image" 
 [style]="style_image2()"

/>
</div></ion-content>
 
