:host-context([dir="ltr"]) .login-image {
  transform: rotateY(180deg);
}[dir="ltr"] .login-image {
  transform: rotateY(180deg);
}:host-context([dir="rtl"]) .login-image2 {
  transform: rotateY(180deg);
}[dir="rtl"] .login-image2 {
  transform: rotateY(180deg);
}
.otp-container1 {text-align: center;
  display: flex;
  flex-direction: column;
height: 100vh;
margin-top: 10%;

}.otp-container {
  display: flex;
  flex-direction: column;
height: 100vh;


}