<ion-content style=" --background: url('assets/icon/imagee.jpeg') no-repeat center center / cover;" >
 <div style="display: flex; flex-direction: row;text-align: center;align-items: center;margin-bottom: -5%;">
  <ion-icon (click)="goBack()" name="close" style="margin-inline-start: 5%;width: 5vw;height: 3vh;"></ion-icon><img 
    src="assets/icon/Group68.png" 
    alt="Login Image" 
    class="login-image"
    
    style="display: block; width: 30%;margin-inline-start: 63%;"
  />

</div>
    <p style="text-align:center;margin-bottom: 5%;" [ngStyle]="title()">{{ 'Profile-Details' | translate }}</p>
  
  <ion-label style="margin-inline-start: 7%;">{{ 'NAME' | translate }}</ion-label>
    <div class="input-box">
   
        <ion-icon name="person-outline" slot="start"></ion-icon>
     <div style="text-align: center;">{{profile.name}}</div>
    </div>
 <ion-label style="margin-inline-start: 7%;">{{ 'EMAIL' | translate }}</ion-label>
     <div  class="input-box">
   
        <ion-icon name="mail-outline" slot="start"></ion-icon>
     <div style="text-align: center;">{{profile.email}}</div>
    </div>
<ion-label style="margin-inline-start: 7%;">{{ 'Phone' | translate }}</ion-label>
     <div  class="input-box">
   
        <ion-icon name="call-outline" slot="start"></ion-icon>
     <div style="text-align: center;">{{profile.phone}}</div>
    </div>

 <ion-label style="margin-inline-start: 7%;">{{ 'Date_Of_Birth' | translate }}</ion-label>
    <div  class="input-box">
   
        <ion-icon name="calendar" slot="start"></ion-icon>
     <div style="text-align: center;">{{profile.Birthday_date}}</div>
    </div>
<ion-label style="margin-inline-start: 7%;">{{ 'GENDER' | translate }}</ion-label>
     <div  class="input-box">
   
        <ion-icon name="person-sharp" slot="start"></ion-icon>
     <div style="text-align: center;">{{profile.Gender}}</div>
    </div>

 


 
</ion-content>
