<ion-content >
 <div style="display: flex; flex-direction: row;text-align: center;align-items: center;">
  <img 
    src="assets/icon/rectt.png" 
    alt="Login Image" 
    class="login-image"
    
    style="display: block; width: 90%;margin-inline-start: 10%;"
  />
</div>
    <p style="text-align:center;margin-top:15%;margin-bottom: 5%;font-weight: bold;font-size:8vw ;">Profile Details</p>
  
  <ion-label style="margin-inline-start: 7%;">Full Name</ion-label>
    <div  class="input-box">
   
        <ion-icon name="person-outline" slot="start"></ion-icon>
     <div style="text-align: center;">{{profile.name}}</div>
    </div>
 <ion-label style="margin-inline-start: 7%;">Email</ion-label>
     <div  class="input-box">
   
        <ion-icon name="mail-outline" slot="start"></ion-icon>
     <div style="text-align: center;">{{profile.email}}</div>
    </div>
<ion-label style="margin-inline-start: 7%;">Phone</ion-label>
     <div  class="input-box">
   
        <ion-icon name="call-outline" slot="start"></ion-icon>
     <div style="text-align: center;">{{profile.phone}}</div>
    </div>

 <ion-label style="margin-inline-start: 7%;">Birthday date</ion-label>
    <div  class="input-box">
   
        <ion-icon name="calendar" slot="start"></ion-icon>
     <div style="text-align: center;">{{profile.Birthday_date}}</div>
    </div>
<ion-label style="margin-inline-start: 7%;">Gender</ion-label>
     <div  class="input-box">
   
        <ion-icon name="person-sharp" slot="start"></ion-icon>
     <div style="text-align: center;">{{profile.Gender}}</div>
    </div>

 


 
</ion-content>
