<ion-content class="login-content">
<div style="display: flex;
            height: 7%;
            margin-top: 2%;
    
            flex-direction: row;
            width: 100vw;
            align-items: center;
            box-sizing: border-box;
           
           ">

  <!-- يسار -->
 <div style="display: flex;flex-direction: row;margin-inline-start:5%; margin-top: 15%;"><ion-icon name="arrow-back-outline"></ion-icon></div>
    
    
 
  <!-- النص في المنتصف -->
  <!--<div style="flex:2; text-align: center; font-weight: bold;margin-inline-end: 20%;">
    notifications
  </div>!-->

 
</div>

<!--<ion-datetime   size="cover"
 class="custom-button"
[preferWheel]="false"
   presentation="day-month"
  [multiple]="true"
  [value]=""
  (ionChange)="onDatesSelected($event)">
</ion-datetime>!-->
<!--<ion-datetime
  #myCalendar [min]="minDate" 
  presentation="date"
  (ionRender)="customizeCalendarColors()"
  (ionChange)="onDatesSelected($event)">
</ion-datetime>!-->
<div class="calendar-header">
  <ion-button fill="clear" (click)="prevMonth()">⏮</ion-button>
  <h4 (click)="nextMonth()" class="month-title">
    {{ getMonthName(currentMonth) }} {{ currentYear }}
  </h4>
  <ion-button fill="clear" (click)="nextMonth()">⏭</ion-button>
</div>

<!-- تقويم شهر واحد فقط -->
<div class="calendar-grid">
  <div class="week-days">
    <div *ngFor="let day of weekDays" class="day-header">{{ day }}</div>
  </div>

  <div class="days-grid">
    <div 
      *ngFor="let day of monthDays"
      class="day-cell"
      [ngClass]="{ empty: !day }"
      (click)="onDateClick(day)"
    >
     <div [style.color]="color_day(day)" *ngIf="day">
  {{ day.getDate() }}
</div>
    </div>
  </div>
</div>
<div class="action-row">
  <div style="margin-inline-start: 10%;">{{indx}}</div>
  
  <img src="assets/icon/addd.png"
         alt="Notification"
        style="margin-inline-start:25%;height:8% ;width: 8%;">
 <img src="assets/icon/removee.png"
         alt="Notification"
     style="height:8% ;width: 8%;"  >
</div>

<div style="width: 100vw;">
  <div style="margin-bottom: 2%;margin-top: 2%; margin-left: 5%;margin-right: 5%; height:7vh;background-color: #E8E0C8;border-radius: 45px;" *ngFor="let user of user;"></div>
</div>


</ion-content>
