

<ion-content class="ion-padding">
  <div class="center">
    <img src="assets/icon/padlock.gif" alt="lock image" class="lock-img" />

    <!-- عنوان الصفحة -->
    <h2 style="margin-bottom: 5%;margin-top: 0%;" [ngStyle]="title()">{{ 'FORGOT_PASSWORD' | translate }}</h2>

    <!-- وصف التعليمات -->
    <p class="title">
      {{ 'FORGOT_PASSWORD_INSTRUCTIONS' | translate }}
    </p>

    <!-- إدخال البريد الإلكتروني -->
    <ion-item class="input-box">
    
     <ion-input 
        [(ngModel)]="email"
        (keyup)="onKeyup_email($event)"
        name="email"
        placeholder="{{ 'EMAIL' | translate }}" 
        type="email" dir="auto"
      >  <ion-icon name="mail-outline" slot="start"></ion-icon></ion-input>
      <ion-icon 
     
        name="close-circle" 
        
        (click)="remove_email()"
      ></ion-icon>
    </ion-item>



      


   

    <!-- زر المتابعة -->
    <button (click)="otp()"
      [class]="validation()"
      type="submit"
      [disabled]="disabled"
    >
      {{ 'CONTINUE' | translate }}
    </button>
 <div *ngIf="isLoading" style="text-align: center;margin-top: 5%;">
  <img src="assets/icon/hold-on.gif" alt="Login Image"
       style="width: 65px; height: 65px;">
       <br/><br/>
</div>

  </div>    <img 
  src="assets/icon/Group3.png" 
   class="login-image2"
  alt="Login Image" 
 [style]="style_image2()"

/>
</ion-content>
