

<ion-content class="login-content" style="position: fixed; width: 100vw; height: 215vw; top: 0; left: 0; background: url('assets/icon/imagee.jpeg') no-repeat center center / cover; z-index: -1;">
  <div style="display: flex;flex-direction: row;margin-inline-start:5%; margin-top: 5%;margin-bottom: -5%;"><ion-icon (click)="goBack()"  name="close"></ion-icon></div>
  <div class="center">
    <img src="assets/icon/email.png" alt="lock image" class="lock-img" />

    <!-- عنوان الصفحة -->
    <h2 style="margin-bottom: 5%;margin-top: 0%;" [ngStyle]="title()">{{ 'FORGOT_PASSWORD' | translate }}</h2>

    <!-- وصف التعليمات -->
    <p class="title">
      {{ 'FORGOT_PASSWORD_INSTRUCTIONS' | translate }}
    </p>
    <!--<ion-item class="input-box">
    <ion-icon name="mail-outline" slot="start"></ion-icon>
     <ion-input 
        [(ngModel)]="email"
        (keyup)="onKeyup_email($event)"
        name="email"
        placeholder="{{ 'EMAIL' | translate }}" 
        type="email" dir="auto"
      >  </ion-input>
      <ion-icon 
     
        name="close-circle" 
        
        (click)="remove_email()"
      ></ion-icon>
    </ion-item>!-->
  <div class="input-box">
      <ion-icon name="mail-outline" class="icon" slot="start"></ion-icon>
      <ion-input 
        placeholder="{{ 'EMAIL' | translate }}" 
        type="email" 
     class="icon"
        name="email"
        required
         [(ngModel)]="email"
        (keyup)="onKeyup_email($event)"
       >
      </ion-input>
      <ion-icon (click)="remove_email()" name="close-circle" slot="end"></ion-icon>
    </div>


      


   

    <!-- زر المتابعة -->
    <button (click)="otp()"
      [class]="validation()"
      type="submit"
      [disabled]="disabled"
    >
      {{ 'CONTINUE' | translate }}
    </button>
 <div *ngIf="isLoading" style="text-align: center;margin-top: 5%;">
  <img src="assets/icon/hold-on1.webp" alt="Login Image"
       style="width: 65px; height: 65px;">
       <br/><br/>
</div>

  </div>    <img 
  src="assets/icon/Group3.png" 
   class="login-image2"
  alt="Login Image" 
 [style]="style_image2()"

/>
</ion-content>
