<ion-content class="login-content">
  <form #loginForm="ngForm">
    <br/>
    
    <div style="display: flex;flex-direction: row;margin-inline-start: 5%;margin-bottom: 0%;margin-top: 0%;"> <ion-icon name="chevron-back-outline"></ion-icon> </div>
    <div class="logo" >
       <img src="assets/icon/deletee.gif" alt="Login Image" class="img">
       <h1>{{ "Delete Account" | translate }}</h1>
    </div>



    <ion-item class="input-box">
      <ion-icon name="lock-closed-outline"  class="icon" slot="start"></ion-icon>
      <ion-input 
        placeholder="{{ 'PASSWORD' | translate }}" 
        [type]="password_type"
        name="password"
        required
        [(ngModel)]="password">
      </ion-input>
      <ion-icon (click)="eye()" [name]="password_icon" slot="end"></ion-icon>
    </ion-item>
    <br />



    <br />

    <button (click)="delete()"
  class="login-button"
  type="submit"
  [disabled]="!loginForm.form.valid"
  [ngClass]="{ 'active-button': loginForm.form.valid }">
 {{ "Delete Account" | translate }}
</button>

    <br />
 <div *ngIf="isLoading" style="text-align: center;">
  <img src="assets/icon/hold-on.gif" alt="Login Image"
      class="imgload">
       <br/><br/>
</div>
  
  </form>
</ion-content>
