<ion-content class="login-content" style="position: fixed; width: 100vw; height: 215vw; top: 0; left: 0; background: url('assets/icon/imagee.jpeg') no-repeat center center / cover; z-index: -1;" >
  <form #loginForm="ngForm">
 <div style="display: flex;flex-direction: row;margin-inline-start:5%; margin-top: 15%;"(click)="goBack()" ><ion-icon name="close"></ion-icon></div>
    <div class="logo" >
       <img src="assets/icon/deletee.webp" alt="Login Image" class="img">
       <h1 [ngStyle]="title()">{{ "Delete_Account" | translate }}</h1>
    </div>



<ion-item class="input-box">
  <ion-icon name="password" class="icon-start" slot="start"></ion-icon>
  <ion-input 
    placeholder="{{ 'PASSWORD' | translate }}" 
    [type]="password_type"
    name="password"
    (keyup)="onKeyup_email($event)"
    required
    [(ngModel)]="password">
  </ion-input>
  <ion-icon (click)="eye()" [name]="password_icon" slot="end"></ion-icon>
</ion-item>

    <br />



    <br />

    <button (click)="delete()"
  class="login-button"
  type="submit"
  [disabled]="!loginForm.form.valid"
  [ngClass]="{ 'active-button': loginForm.form.valid }">
 {{ "Delete_Account" | translate }}
</button>

    <br />
 <div *ngIf="isLoading" style="text-align: center;">
  <img src="assets/icon/hold-on1.webp" alt="Login Image"
      class="imgload">
       <br/><br/>
</div>
  
  </form>
     <img 
  src="assets/icon/Group3.png" 
   class="login-image2"
  alt="Login Image" 
 [style]="style_image2()"

/>
</ion-content>
