.login-content {
 --background: #fff;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
 




p {
  margin-top: 0; 
  font-size: 1em;
}
 .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15%; 
  margin-bottom: 6%;
display: flex; align-items: center; 
 flex-direction: row; margin-top: 5%;
 justify-content: center;
 h1 {

  font-size: 2rem;
  text-shadow: 1px 1px 2px #aaa;
  font-family: 'Cairo', sans-serif; 
}

  p {margin-inline-start: 20%;
    font-size:1em;
    color: #444;
  }
}.icon{margin-inline-end:0%;}
.imgload{width: 65px; height: 65px; border-radius: 10%;}
h1{margin-inline-end: 15%;margin-inline-start: 0%;color:#A51010 ;}
.img{width: 60px; height:60px;margin-inline-end: 0%;}
.input-box {height: 45px;margin-top: 0%;margin-bottom:3%;
  --background: #fff;
  display: flex;
  align-items: center;
  border: 2px solid #e8e5e5; 
  border-radius:25px;
  padding: 0 10px; 
  margin-left: 9%;
  margin-right: 9%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;




  ion-icon {
    font-size:1rem; 
    
    padding: 10px; 

    border-radius: 50%; 
    transition: background-color 0.3s ease, color 0.3s ease;
  }

 

}

.input-border {
  flex: 1;
  font: size 1rem;;
  padding: 10% 10%;
  border: none;
  box-shadow: none;


  ion-input {
    border: none;
    box-shadow: none;
  }
}



  }
.login-button {
  border-radius: 25px;
  background: linear-gradient(to right, #ccc, #aaa); // لون رمادي عند invalid
  color: #fff;
  font-size: 18px;
  text-shadow: 1px 1px 2px #000;
  padding: 12px 30px;
 
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 0.6;
  cursor: not-allowed;
  transition: all 0.3s ease;
}
.login-button.active-button {
  background: linear-gradient(to right, #dcdfce, #A51010);
  opacity: 1;
  cursor: pointer;
}





:root[dir="rtl"] .signup-text {
  direction: rtl;
  text-align: right;
}

:root[dir="ltr"] .signup-text {
  direction: ltr;
  text-align: left;
}


