<div style="display: flex; flex-direction: column; width: 100vw; height: 100vh;">

  <!-- جزء السلايدر -->
<ion-content scroll-y="false" style="height: 70vh; display: flex; justify-content: center; align-items: center;--background: url('assets/icon/imagee.jpeg') no-repeat center center / cover;">  
<div style="display: flex; flex-direction: row;text-align: center;align-items: center;height: 12vw;width:100vw ;">
  <img 
    src="assets/icon/Group333.png" 
    alt="Login Image" 
   
        class="login-image"
    style="display: block; width: 50%;margin-inline-end: 65%;margin-top: 9%;"
  />
</div><ion-icon (click)="goBack()" name="close" style="margin-inline-start: 5%;margin-top:0% ;margin-bottom: 0%;"></ion-icon>
<h1 style=" align-items: center;text-align: center;justify-content: center;font-weight: 400;margin-top: -2%;" [ngStyle]="title()">{{name}}</h1>

<ion-slides
  #slides
  [options]="slideOpts" 
  (ionSlideDidChange)="onSlideChange()"
  style="height:85%; width:100%;"
>
  <ion-slide *ngFor="let item of slid">
    <div style="display: flex;flex-direction: column;width: 100vw;"> 
      
   
    <div class="slide-box">{{ item.description}}</div></div>
   
  </ion-slide>
</ion-slides>




<div *ngIf="slid.length!=1"
  style="text-align:center; align-items:center; justify-content:center; display:flex; flex-direction:row; width:100vw; margin-top:-15%;"
>
  <div
    *ngFor="let item of list; let i = index"
    style="display:flex; flex-direction:row; width:10vw;"
  >
    <div [ngStyle]="Color(i)"></div>
  </div>
</div>
</ion-content>

<div class="login-image half-circle-left"
     [style]="style_image3()"
>

  <div style="position: relative; display: flex; flex-direction: column;justify-content: center;text-align: center; align-items: center;margin-top: 15%;">
    <div class="circle " style="margin-inline-start: 0%;margin-top: 8%;"><div style="display: flex;flex-direction: row;"><img (click)="goPrev()" src="assets/icon/redo-arrow.png" alt="Login Image"  style="width:3.5vw; height:4.3vw;margin-top: 30%;margin-inline-start: 2%;margin-inline-end: 0%;" class="login-image1"><img src="assets/icon/Line1.png"  alt="Login Image" style="width:6vw; height:6vw;margin-top: 25%;margin-inline-start: 10%;margin-inline-end: 0%;" class="login-image"><img src="assets/icon/redo-arrow.png" alt="Login Image" style="width:4vw; height:4vw;margin-top: 40%;margin-inline-end: 2%;"class="login-image" (click)="goNext()"></div></div>
   <div  class="login-image2"
  [style]="c2_image()" 
  (click)="count()" 
  style="display: flex; justify-content: center; align-items: center;"
>
  <div>
  <div *ngIf=" name1 !== 'الدعاء' && repeatCount !== 1"
    style="
      width: 33px;
      height: 33px;
      background-color: #ffffff;
      border-radius: 50%;
      padding-top: 20%;
      color: #837f7f;
    "
  >
    <div >{{ num }}</div>
  </div>
</div>
</div>
    <div class="circle" style="margin-top: 50%;"><img src='assets/icon/sondl.svg' alt="Login Image" [style]="im()" ></div>
  </div>

</div>
  <img 
  src="assets/icon/Group33.png" 
  alt="Login Image" 
  class="login-image2"
 [style]="style_image2()"
/>
</div>
