<ion-content class="login-content">
<div class="bg"></div>
  <!-- الشريط العلوي -->
  <div style="display: flex;
              height: 7%;
              margin-top: 5%;
              border-bottom: 2px solid black;
              flex-direction: row;
              width: 100vw;
              align-items: center;
              box-sizing: border-box;
              padding: 0 2vw;">

    <!-- يسار -->
    <ion-icon name="close" (click)="goBack()"></ion-icon>

    <img src="assets/icon/notification.png"
         alt="Notification"
         style="width: 7vw; height: 3vh; margin-inline-start: 20%;">

    <!-- النص في المنتصف -->
    <div style="flex: 1; text-align: center; font-weight: bold; margin-inline-start: 5%;" [ngStyle]="title()">
      {{ 'notifications' | translate }}
    </div>

    <!-- يمين -->
    <img src="assets/icon/trach.png"
         alt="Trash"
         style="width: 5.5vw; height: 3vh; margin-inline-start: 20%; margin-inline-end: 10%;">
  </div>

  <!-- الأزرار -->
  <div style="display: flex; justify-content: center; margin-top: 3%;">
    <button (click)="showSection('read')" 
            [ngStyle]="{ 'background-color': selectedSection === 'read' ? '#dcdcdc' : 'white' }"
            style="padding: 8px 20px; border: 1px solid #000; border-radius: 20px;margin-inline-start: 5%;margin-inline-end: 5%;">
      Read
    </button>

    <button (click)="showSection('unread')" 
            [ngStyle]="{ 'background-color': selectedSection === 'unread' ? '#dcdcdc' : 'white' }"
            style="padding: 8px 20px; border: 1px solid #000; border-radius: 20px;">
      Unread
    </button>
  </div>

  <!-- المكونات -->
  <div style="margin-top: 5%;">
    <app-read *ngIf="selectedSection === 'read'"></app-read>
    <app-unread *ngIf="selectedSection === 'unread'"></app-unread>
  </div>

</ion-content>
