.login-content {
 --background: #fff;
  display: flex; 
  flex-direction: column; 

  
  min-height: 100vh;
}.page-bg {
  position: fixed;

  width: 100vw;
 height: 200vw;
 ;background: #FFFFFF;

 
  /* التدرّج الأساسي */
  



z-index: -1;
  //background-image: url('../../../../assets/icon/imagee.jpeg');background-size: cover;
  
}