<ion-content class="login-content" style=" --background: url('assets/icon/imagee.jpeg') no-repeat center center / cover;">
<div class="bg"></div>
  <!-- الشريط العلوي -->
  <div style="display: flex;
              height: 7%;
              margin-top: 5%;
              border-bottom: 2px solid black;
              flex-direction: row;
              width: 100vw;
              align-items: center;
              box-sizing: border-box;
              padding: 0 2vw;">

    <!-- يسار -->
    <ion-icon name="close" (click)="goBack()"></ion-icon>

    <img src="assets/icon/notification.png"
         alt="Notification"
         style="width: 7vw; height: 3vh; margin-inline-start: 20%;">

    <!-- النص في المنتصف -->
    <div style="flex: 1; text-align: center; font-weight: bold; margin-inline-start: 5%;" [ngStyle]="title()">
      {{ 'notifications' | translate }}
    </div>

 <div  style="width: 5.5vw; height: 3vh; margin-inline-start: 20%; margin-inline-end: 10%;"></div>
    <!--<img src="assets/icon/trach.png"
         alt="Trash"
         style="width: 5.5vw; height: 3vh; margin-inline-start: 20%; margin-inline-end: 10%;">-->
  </div>

  <!-- الأزرار -->
  <div style="display: flex; justify-content: center; margin-top: 3%;">
    <button (click)="showSection('READ')" 
            [ngStyle]="{ 'background-color': selectedSection === 'READ' ? '#dcdcdc' : 'white' }"
            style="padding: 8px 20px; border: 1px solid #000; border-radius: 20px;margin-inline-start: 5%;margin-inline-end: 5%;">
      Read
    </button>

    <button (click)="showSection('UNREAD')" 
            [ngStyle]="{ 'background-color': selectedSection === 'UNREAD' ? '#dcdcdc' : 'white' }"
            style="padding: 8px 20px; border: 1px solid #000; border-radius: 20px;">
      Unread
    </button>
  </div>

  <!-- المكونات -->
  <div style="margin-top: 5%;">
<div style="width: 100vw;margin-top: 15%;height:50vh ;">
  <div style="margin-bottom: 2%;margin-top: 2%; margin-left: 5%;margin-right: 5%; height:7vh;border-radius: 15px;" *ngFor="let list of list;let i = index"> <ion-item-sliding class="notification-sliding">

  <ion-item
    button
    class="notification-item"
    (click)="notifications_read(list.id)"
  >
    <ion-label>
      <h3 class="title">إشعار</h3>
      <p class="message">{{ list.message }}</p>
    </ion-label>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option
      color="danger"
      class="delete-option"
      (click)="notifications_delete(list.id,i)"
    >
      <ion-icon name="trash-outline"></ion-icon>
      <span>حذف</span>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>
 </div>
</div>
  </div>

</ion-content>
