<div style="width: 100vw;">
  <div style="margin-bottom: 2%;margin-top: 2%; margin-left: 15%;margin-right: 15%; height:7vh;background-color: #E8E0C899;border-radius: 20px;" *ngFor="let user of user;">
    <div style="display: flex;flex-direction:column;justify-content: space-between;text-align: center;text-align:center;">
  <div style="margin-top: 4.2%;font-size: 4vw;">
 Part ( 1 )
</div><div style="font-size: 3vw;color: rgb(109, 112, 112);margin-top: 1.2%;">Page 12 </div> 

</div> 
  </div>
</div>
