  .star {
    width: 12vw;
    height: 12vw;
    background-color: gold;
    clip-path:polygon(
    50% 0%,
    58% 20%,
    79% 21%,
    63% 35%,
    68% 57%,
    50% 45%,
    32% 57%,
    37% 35%,
    21% 21%,
    42% 20%,
    50% 0%
  );
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    font-size: 14px;
    text-align: center;
  }
