<div ><div *ngIf="showItem"
     style="
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60vw;
      height: 30vh;
      background: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      z-index: 99999;
      box-shadow: 0 0 20px rgba(0,0,0,0.3);
      overflow: hidden;
">
  
  
  <div style="
    width: 100%;
    height: 8vh;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 4vw;
    font-weight: bold;
    padding: 0 4vw;
">
  <span>عنوان أو نص علوي</span>

  <span 
    (click)="showItem = false"
    style="
      font-size: 6vw;
      cursor: pointer;
      font-weight: normal;
      user-select: none;
    "
  >
    ✖
  </span>
</div>


 
  <div style="
    width: 100%;
    height: 100%;
    padding: 2vh;
    overflow-y: auto;
    font-size: 3.5vw;
  ">
      <div style="margin-bottom: 1vh;">العنصر 1</div>
      <div style="margin-bottom: 1vh;">العنصر 2</div>
      <div style="margin-bottom: 1vh;">العنصر 3</div>
      <div style="margin-bottom: 1vh;">العنصر 4</div>
  </div>

</div>
<div *ngIf="showItem"
     style="
      position: fixed;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70vw;
      height: 15vh;
      background: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      z-index: 99999;
      box-shadow: 0 0 20px rgba(0,0,0,0.3);
      overflow: hidden;
">
  
  
  <div style="
    width: 100%;
    height: 8vh;
    background: #f2f2f2;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 4vw;
    font-weight: bold;
    padding: 0 4vw;
"> <img
  src="assets/icon/remove.png"
  (click)="showItem = false"
  style="
    width: 6vw;
    cursor: pointer;
    user-select: none;
  "
/>
  <span>عنوان أو نص علوي</span>

 <img
  src="assets/icon/account-settings.png"
  (click)="showItem = false"
  style="
    width: 6vw;
    cursor: pointer;
    user-select: none;
  "
/>
</div>


   <div style="
    width: 100%;
    height: 8vh;
    background: #f2f2f2;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 4vw;
    font-weight: bold;
    padding: 0 4vw;
"> <img
  src="assets/icon/next-button1.png"
  (click)="showItem = false"
  [style]='flip()'
/>
  
 <img
  src="assets/icon/play(2).png"
  (click)="showItem = false"
 [style]='flip1()'
/>

 <img
  src="assets/icon/next-button1.png"
  (click)="showItem = false"
 [style]='flip1()'
/>
</div>
    <div style="
    width: 100%;
    height: 8vh;
  background: #f2f2f2;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 4vw;
    font-weight: bold;
    padding: 0 4vw;
"> 
<img
  src="assets/icon/repeat (1).png"
  (click)="showItem = false"
  style="
    width: 6vw;
    cursor: pointer;
    user-select: none;
  "
/>
</div>

</div>
<ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let item of list; let i = index;" >
<ion-content class="login-content" style="--background: url('assets/icon/imagee.jpeg') no-repeat center center / cover;display: flex; flex-direction: column;height: 100vh;"[scrollY]="false" >

<div style="display: flex;flex-direction: row;justify-content: space-between;"> <div style="display: flex;flex-direction: row;"> gggg tttttgggg</div><div>gggggg</div></div>
<div style="
  width: 100vw;
  height: 6vh;
 
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
"(click)="onclick()">
 
  <div style="display: flex; gap: 0.5vw; align-items: center;">
    <img src="assets/icon/islam 3.png" alt="صورة" style="width: 10vw; height: 5vh;">
    <img src="assets/icon/islam 3.png" alt="صورة" style="width: 10vw; height: 4vh; margin-top: 2%;">
  </div>

  <div style="
    display: flex;
    align-items: center;
 justify-content: center;
    width: 55vw;
    height: 7vh;
    position: relative;
  ">
    <img src="assets/icon/label 1.png" alt="صورة" style="    width: 50vw;
 object-fit: contain;">
   
    <div style="
      position: absolute;
      color: rgb(32, 32, 32);
      font-weight: bold;
      font-size: 1.2vw;
    ">
      <div style="font-size: 5vw;">سوره الفاتحه</div> 
    </div>
  </div>

 
  <div style="display: flex; gap: 0.5vw; align-items: center;">
    <img src="assets/icon/islam 3.png" alt="صورة" style="width: 10vw; height: 4vh; margin-top: 2%;">
    <img src="assets/icon/islam 3.png" alt="صورة" style="width: 10vw; height: 5vh;">
  </div>
</div>

  <div style="justify-content: center;width: 100vw;" >
   <div style="text-align: center; font-size: 5vw; margin: 3% 0;">
  بسم الله الرحمن الرحيم
</div>
<div style="margin-left: 2%;margin-right: 2%;">
    <span *ngFor="let item of list; let i = index;" style="position: relative;width: 100vw;margin-inline-start: 0%;margin-top: 10vh;">
   
      <span style="position: absolute;margin-top: -3vh;" ><span [style]="Style_r(i)"> <img src="assets/icon/save.png" alt="صورة" style="height:4vh;width: 4.6vw;" (click)="toggle()"><img src="assets/icon/save.png" alt="صورة" style="height: 4vh;width: 4.6vw;"> <img src="assets/icon/save.png" alt="صورة" style="height: 4vh;width: 4.6vw;"></span></span>  
 
      <span (click)="click(i)" [style]="Style(i)" >{{ item }}</span>

   <div style="
  position: relative;
  width: 7vw;
  height: 3vh;
  display: inline-block;
  margin-inline-start:0%;
  margin-inline-end: -1%;
 
">
  <img src="assets/icon/star.png" 
       alt="صورة" 
       style="width: 100%; height: 100%; ">
       
  <div style="
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(139, 24, 24); 
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
    
  ">
   <div style="font-size: 2vw;">{{i+1}}</div>
  </div>
</div>
&nbsp;
</span>

</div>

</div>
<div style="height:100%;"(click)="onclick()"></div>
</ion-content>  </ion-slide>
</ion-slides><div class="bottom-sheet" [class.open]="open">
    <div class="box">
    <i class="fa-solid fa-cog icon" (click)="Tafsir()"></i>   
    <span class="center-text">Tafsir Al-Jalalayn</span>   
    <i (click)="onclickclose()" class="fa-solid fa-times-circle icon"></i> 
  </div>
</div></div>
////
<!--<ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let item of list; let i = index;">
    <div style="text-align: center; font-size: 5vw; margin: 3% 0;">
      {{ item }}
    </div>

    <span style="position: relative;">
      <span style="position: absolute; margin-top: -3vh;">
        <span [style]="Style_r(i)">
          <img src="assets/icon/save.png" style="height:4vh;width:4.6vw;">
          <img src="assets/icon/save.png" style="height:4vh;width:4.6vw;">
          <img src="assets/icon/save.png" style="height:4vh;width:4.6vw;">
        </span>
      </span>

      <span (click)="click(i)" [style]="Style(i)">
        {{ item }}
      </span>

      <div style="position: relative; width: 7vw; height: 3vh; display: inline-block;">
        <img src="assets/icon/star.png" style="width: 100%; height: 100%; object-fit: contain;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: black; font-size: 1vw; font-weight: bold; text-align: center;">
          <div style="font-size: 2vw;">{{i}}</div>
        </div>
      </div>
    </span>-->
  
<!-- ❌ تمت إزالة </div> الزائدة هنا -->

<!--<ion-slides [options]="slideOpts">
  <ion-slide *ngFor="let item of list; let i = index;">
    <div style="text-align: center; font-size: 5vw; margin: 3% 0;">
      {{ item }}
    </div>

    <span style="position: relative;">
      <span style="position: absolute; margin-top: -3vh;">
        <span [style]="Style_r(i)">
          <img src="assets/icon/save.png" style="height:4vh;width:4.6vw;">
          <img src="assets/icon/save.png" style="height:4vh;width:4.6vw;">
          <img src="assets/icon/save.png" style="height:4vh;width:4.6vw;">
        </span>
      </span>

      <span (click)="click(i)" [style]="Style(i)">
        {{ item }}
      </span>

      <div style="position: relative; width: 7vw; height: 3vh; display: inline-block;">
        <img src="assets/icon/star.png" style="width: 100%; height: 100%; object-fit: contain;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: black; font-size: 1vw; font-weight: bold; text-align: center;">
          <div style="font-size: 2vw;">{{i}}</div>
        </div>
      </div>
    </span>
  </ion-slide>
</ion-slides>!--> 
