<ion-content  class="chats-content" [scrollY]="true" 
><div class="bg"></div>
<div style="display: flex;flex-direction: row;margin-top: 10%;margin-inline-start: 3.5%;justify-content: start;border-bottom: 3px solid #D9D9D9;margin-inline-end: 3.5%;margin-bottom:5%;justify-content: center;">
 <ion-icon name="chevron-back" style="margin-top:3%;width: 10vw;height: 2vh;"></ion-icon>
<img
  src="assets/icon/user1.jpg" 
  class="circle-img"
/>
<div style="display: flex;flex-direction: column;width: 90%;margin-inline-start: 5%;"> <div style="margin-inline-start: 3vw;">مجموعة سورة البقرة</div> <div style="margin-inline-start: 3vw;font-size: 2.7vw;color: burlywood;">12 members</div></div>
<div style="width:100% ;text-align: end;display: flex;flex-direction: row;"><div style="display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;"><p style="font-size: 4vw;margin-bottom: 0%;color: #FFBC42">Active</p><p style="font-size: 2.5vw;">4/1/2026 - 20/1/2026</p></div>
 </div></div>
 <div style="display: flex;flex-direction: row;justify-content: space-between;margin-inline-start: 5%;margin-inline-end: 5%;"><div class="round-rect"><div>Encourage</div></div><div class="round-rect"><div>Edit</div></div><div class="round-rect"><div>Pause</div></div></div>
 <div style="display: flex;flex-direction: row;justify-content: center;margin-inline-start: 5%;margin-inline-end: 5%;"><div class="round-rect-color"><div>Start new reading
 challenge</div></div></div>
 <div style="display: flex;flex-direction: row;justify-content: space-between;margin-inline-start: 5%;margin-inline-end: 5%;"><div class="round-rect-h"></div><div class="round-rect-h"></div></div>
 <div style="display: flex;flex-direction: row;justify-content: center;margin-inline-start: 5%;margin-inline-end: 5%;"><div class="round-rect-color1"></div></div>
</ion-content>