<div class="target-wrapper">

  <h2 class="title">Target Setting</h2>

  <!-- Select reading method -->
  <div class="select-box" (click)="toggleDropdown()">
  <span>Select reading method</span>
  <div class="menu-icon" [class.rotate]="isOpen">☰</div>
</div>

<div class="dropdown" *ngIf="isOpen">
  <button (click)="selectOption('surah')">Select Surah</button>
  <button (click)="selectOption('page')">Page range</button>
</div>

  <!-- Daily target -->
  <div class="section">
    <p class="section-title">daily target</p>
    <div class="options">
      <button>verses</button>
      <button class="active">pages</button>
      <span class="or">Or</span>
      <button>time-based</button>
    </div>
  </div>

  <!-- Duration -->
  <div class="section">
    <p class="section-title">duration</p>
    <div class="options">
      <button>Days</button>
      <button class="active">Weeks</button>
      <button>Months</button>
    </div>
  </div>

  <!-- Difficulty -->
  <div class="section">
    <p class="section-title">Difficulty level</p>
    <div class="options">
      <button>beginner</button>
      <button class="active">intermediate</button>
      <button>advanced</button>
    </div>
  </div>

  <!-- Continue -->
  <button class="continue-btn">Continue</button>

</div>
