<ion-content class="otp-container1" [fullscreen]="true" scroll="true" ><div class="page-bg"></div> 
  <div style="display: flex;flex-direction: row;margin-inline-start:5%; margin-top: 5%;margin-bottom: -5%;"><ion-icon name="close"></ion-icon></div>
  <form #loginForm="ngForm">
    <div class="title1">
      <div class="title">
        <img src="assets/icon/one-time-password.png" alt="lock image" class="imagee" />
        <div style="display: flex;flex-direction: row;margin-top: 5%;">
          <h2 class="otp" [ngStyle]="title()">{{ 'otp.title' | translate }}</h2>
          <h2 class="verify" [ngStyle]="title()">{{ 'otp.verify' | translate }}</h2>
        </div>
      </div>
    </div>

    <p class="p" [ngStyle]="title()" >
      <span>{{ 'otp.instruction' | translate }}</span>
       <span > {{ 'otp.verifyEmail' | translate }}</span>
    </p>

    <div class="otp-inputs">
      <ion-input #input0 maxlength="1" type="tel" (ionInput)="onInputChange($event, 0)"></ion-input>
      <ion-input #input1 maxlength="1" type="tel" (ionInput)="onInputChange($event, 1)"></ion-input>
      <ion-input #input2 maxlength="1" type="tel" (ionInput)="onInputChange($event, 2)"></ion-input>
      <ion-input #input3 maxlength="1" type="tel" (ionInput)="onInputChange($event, 3)"></ion-input>
    </div>

    <p class="resend" (click)="otp()">
      {{ 'Didntreceive' | translate }}<a class="email-link">{{ 'SendtoEmail' | translate }} </a>
    </p>
<div style="height: 5px;"> <div *ngIf="isLoadingotp" class="loading">
      .....
    </div></div>
   

    <div class="fle">
      <button (click)="login()" [class]="validation()" [disabled]="disabled">
        {{ 'otp.button' | translate }}
      </button>
    </div>

    <div *ngIf="isLoading" class="loading">
      <img src="assets/icon/hold-on1.webp" alt="Login Image" class="loading-image" />
    </div>
     <div style="display: flex; flex-direction: row;text-align: center;text-align: center;">
  <img 
  src="assets/icon/Group3.png" 
  alt="Login Image" 
  class="login-image2"
 [style]="style_image2()"

/>
</div>
  </form>
</ion-content>
