<div class="schedule-card">

  <h2 class="title">Scheduling</h2>

  <!-- Start Date -->
  <label class="label">Start date</label>
  <div class="input-box">
    <input type="date" />
    <img src="assets/icon/calendar.png" class="icon" />
  </div>

  <!-- Daily reminder -->
  <div class="input-box">
 
    <input type="time" placeholder="Daily reminder time" />   <ion-icon name="time-outline" class="time-icon"></ion-icon>
  </div>

  <!-- Repeat reminder -->
  <label class="label">Repeat reminder</label>
  <div class="chips">
  <span
    class="chip"
    *ngFor="let item of repeats"
    [class.active]="selectedRepeat === item"
    (click)="selectRepeat(item)">
    {{ item }}
  </span>
</div>

  <!-- Button -->
  <button class="continue-btn">Continue</button>

</div>
